# environment
*.env
main_app/__pycache__

# database
*.sqlite3
GDAL-3.10.1-cp313-cp313-win_amd64.whl
marketplace/__pycache__
orders/__pycache__
orders/migrations/__pycache__
accounts/__pycache__
vendor/__pycache__
customers/__pycache__
